@using AdminLTE.Models.SansiModels;
@model ChiTietTinModel
@{

    Layout = "_LayoutSansi";
    ViewBag.Title = "Chi tiêt tin";
    ViewBag.Type = 1;

}

<div class="thong-tin-them">
    <div class="sub-thong-tin">
        <ul>
            <li>Trang chủ</li>
            <li><i class="next"></i></li>
            <li>Tin tức</li>
            <li><i class="next"></i></li>
            <li>Hướng dẫn cách đăng ký tài khoản trên taobao bằng điện thoại</li>
        </ul>
    </div>
    <div class="thong-tin-them-content">
        <div class="container-thong-tin-2">
            <div class="thong-tin-left">
                <div class="thong-tin-container2-content">
                    <div class="title-container2">
                        <h2>TIN MỚI NHẤT</h2>
                    </div>
                    <div class="thong-tin-left-content">
                        <div id="full-width">
                            <h4>
                                @Model.Header
                            </h4>
                            <div class="sub-time">
                                <i class="icon-dong-ho"></i>
                                <p class="time">10/08/2019</p>
                            </div>
                            <p>
                                @Model.Content1
                            </p>
                            <img src="@Model.UrlImage" alt="images" />
                            <p>
                                @Model.Content2
                            </p>
                        </div>

                    </div>
                </div>
            </div>
            <div class="thong-tin-right">
                <div class="title-thong-tin-right">
                    <h3>BÀI XEM NHIỀU NHẤT</h3>
                </div>
                <div class="container2-right-content">
                    @{
                        int i = 2;
                        foreach (TinMoiModel item in @Model.ListTinMoi)
                        {
                            <div>
                                <a href="@Url.Action("IndexChiTietTin", "SansiHome", new { id = i })">
                                    <img src="@item.UrlImage" alt="images" />
                                </a>

                                <div>
                                    <a href="@Url.Action("IndexChiTietTin", "SansiHome", new { id = i }) ">
                                        <h3>
                                            @item.Header
                                        </h3>
                                    </a>
                                    <div class="sub-time">
                                        <i class="icon-dong-ho"></i>
                                        <p class="time">@item.Time.ToString("dd-MM-yyyy")</p>
                                    </div>
                                    <p>
                                        @item.Note
                                    </p>
                                </div>
                            </div>
                           i++;
                        }

                    }

                </div>
            </div>
        </div>
    </div>
</div>
</div>
