@{
    Layout = "_LayoutSansi";
    ViewBag.Title = "Tin Tức";
    ViewBag.Type = 1;
    ViewBag.Active = "ThongTinThem";
}
    
<div class="thong-tin-them">
    <div class="sub-thong-tin">
        <ul>
            <li>Trang chủ</li>
            <li><i class="next"></i></li>
            <li>Tin tức</li>
        </ul>
    </div>
</div>
<div class="container-tin-tuc2">
    <div class="header">
        <div class="left-header">
            <img src="~/images/tin-tuc2/01.jpg" alt="ảnh" />
            <a href="@Url.Action("IndexChiTietTin","SansiHome", new { id = 1})">
                <h3>
                    HƯỚNG DẪN CÁCH ĐĂNG KÝ TÀI KHOẢN TRÊN TAOBAO BẰNG ĐIỆN THOẠI. HƯỚNG
                    DẪN CÁCH ĐĂNG KÝ TÀI KHOẢN TRÊN TAOBAO BẰNG ĐIỆN THOẠI
                </h3>
            </a>
        </div>
        <div class="right-header">
            <div>
                <img src="~/images/tin-tuc2/02.jpg" alt="ảnh" />
                <a href="@Url.Action("IndexChiTietTin","SansiHome",new { id = 2})">
                    <h3>
                        HƯỚNG DẪN CÁCH ĐĂNG KÝ TÀI KHOẢN TRÊN TAOBAO BẰNG ĐIỆN THOẠI. HƯỚNG
                        DẪN CÁCH ĐĂNG KÝ TÀI KHOẢN TRÊN TAOBAO BẰNG ĐIỆN THOẠI
                    </h3>
                </a>
            </div>
            <div>
                <div>
                    <img src="~/images/tin-tuc2/03.jpg" alt="ảnh"></img>
                    <a href="@Url.Action("IndexChiTietTin","SansiHome")">
                        <h4>
                            Hướng dẫn cách đăng ký tài khoản trên Taobao bằng điện thoại
                        </h4>
                    </a>
                </div>
                <div>
                    <img src="~/images/tin-tuc2/04.jpg" alt="Ảnh">
                    <a href="@Url.Action("IndexChiTietTin","SansiHome")">
                        <h4>
                            Hướng dẫn cách đăng ký tài khoản trên Taobao bằng điện thoại
                        </h4>
                    </a>
                </div>
            </div>
        </div>
    </div>
    <div class="noi-dung">
        <div class="left">
            <div class="tin-khuyen-mai">
                <div class="title">
                    <div>
                        TIN KHUYẾN MẠI
                    </div>
                    <a href="@Url.Action("IndexChiTietTin","SansiHome")">XEM TẤT CẢ</a>
                </div>
                <div class="content-km">
                    <div>
                        <img src="~/images/tin-tuc2/05.jpg" alt="ảnh">
                        <a href="@Url.Action("IndexChiTietTin","SansiHome")">
                            <h4>
                                Hướng dẫn cách đăng ký tài khoản trên Taobao bằng điện thoại
                            </h4>
                        </a>
                        <p>
                            Không còn cảnh chờ đợi 3, 4 ngày hoặc vài tuần, người tiêu dùng trực tuyến bây giờ. Không còn cảnh chờ đợi 3, 4 ngày hoặc vài tuần, người tiêu dùng trực tuyến bây giờ... Không còn cảnh chờ đợi 3, 4 ngày hoặc vài tuần, người tiêu dùng trực tuyến bây giờ...
                        </p>
                    </div>
                    <div>
                        <div>
                            <img src="~/images/tin-tuc2/Rectangle 37.jpg" alt="">
                            <div>
                                <a href="@Url.Action("IndexChiTietTin","SansiHome")">
                                    <h5>
                                        Hướng dẫn cách đăng ký tài khoản trên Taobao bằng điện thoại
                                    </h5>
                                </a>
                                <p>
                                    Không còn cảnh chờ đợi 3, 4 ngày hoặc vài tuần, người tiêu dùng trực tuyến bây giờ...
                                </p>
                            </div>
                        </div>
                        <div>
                            <img src="~/images/tin-tuc2/Rectangle 37 (1).jpg" alt="">
                            <div>
                                <a href="@Url.Action("IndexChiTietTin","SansiHome")">
                                    <h5>
                                        Hướng dẫn cách đăng ký tài khoản trên Taobao bằng điện thoại
                                    </h5>
                                </a>
                                <p>
                                    Không còn cảnh chờ đợi 3, 4 ngày hoặc vài tuần, người tiêu dùng trực tuyến bây giờ...
                                </p>
                            </div>
                        </div>
                        <div>
                            <img src="~/images/tin-tuc2/Rectangle 37 (2).jpg" alt="">
                            <div>
                                <a href="@Url.Action("IndexChiTietTin","SansiHome")">
                                    <h5>
                                        Hướng dẫn cách đăng ký tài khoản trên Taobao bằng điện thoại
                                    </h5>
                                </a>
                                <p>
                                    Không còn cảnh chờ đợi 3, 4 ngày hoặc vài tuần, người tiêu dùng trực tuyến bây giờ...
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="tin-thi-truong">
                <div class="title">
                    <div>
                        TIN TỨC THỊ TRƯỜNG
                    </div>
                    <a href="@Url.Action("IndexChiTietTin","SansiHome")">XEM TẤT CẢ</a>
                </div>
                <div class="content">
                    <div>
                        <div>
                            <img src="~/images/tin-tuc2/05.jpg" alt="@Url.Action("IndexChiTietTin","SansiHome")">
                            <a href="@Url.Action("IndexChiTietTin","SansiHome")">
                                <h4>
                                    Hướng dẫn đăng ký tài khoản trên Taobao bằng điện thoại
                                </h4>
                            </a>
                            <p>
                                Không còn cảnh chờ đợi 3, 4 ngày hoặc vài tuần, người tiêu dùng trực tuyến bây giờ...
                            </p>
                        </div>
                        <div>
                            <div>
                                <img src="~/images/tin-tuc2/Rectangle 38.jpg" alt="ảnh">
                                <div>
                                    <a href="@Url.Action("IndexChiTietTin","SansiHome")">
                                        <h4>
                                            Hướng dẫn cách đăng ký tài khoản trên Taobao bằng điện thoại
                                        </h4>
                                    </a>
                                    <p>
                                        Không còn cảnh chờ đợi 3, 4 ngày hoặc vài tuần, người tiêu dùng trực tuyến bây giờ...
                                    </p>
                                </div>
                            </div>
                            <div>
                                <img src="~/images/tin-tuc2/Rectangle 38.jpg" alt="ảnh">
                                <div>
                                    <a href="@Url.Action("IndexChiTietTin","SansiHome")">
                                        <h4>
                                            Hướng dẫn cách đăng ký tài khoản trên Taobao bằng điện thoại
                                        </h4>
                                    </a>
                                    <p>
                                        Không còn cảnh chờ đợi 3, 4 ngày hoặc vài tuần, người tiêu dùng trực tuyến bây giờ...
                                    </p>
                                </div>
                            </div>
                            <div>
                                <img src="~/images/tin-tuc2/Rectangle 38.jpg" alt="ảnh">
                                <div>
                                    <a href="@Url.Action("IndexChiTietTin","SansiHome")">
                                        <h4>
                                            Hướng dẫn cách đăng ký tài khoản trên Taobao bằng điện thoại
                                        </h4>
                                    </a>
                                    <p>
                                        Không còn cảnh chờ đợi 3, 4 ngày hoặc vài tuần, người tiêu dùng trực tuyến bây giờ...
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div>
                        <div>
                            <img src="~/images/tin-tuc2/05.jpg" alt="@Url.Action("IndexChiTietTin","SansiHome")">
                            <a href="@Url.Action("IndexChiTietTin","SansiHome")">
                                <h4>
                                    Hướng dẫn đăng ký tài khoản trên Taobao bằng điện thoại
                                </h4>
                            </a>
                            <p>
                                Không còn cảnh chờ đợi 3, 4 ngày hoặc vài tuần, người tiêu dùng trực tuyến bây giờ...
                            </p>
                        </div>
                        <div>
                            <div>
                                <img src="~/images/tin-tuc2/Rectangle 38.jpg" alt="ảnh">
                                <div>
                                    <a href="@Url.Action("IndexChiTietTin","SansiHome")">
                                        <h4>
                                            Hướng dẫn cách đăng ký tài khoản trên Taobao bằng điện thoại
                                        </h4>
                                    </a>
                                    <p>
                                        Không còn cảnh chờ đợi 3, 4 ngày hoặc vài tuần, người tiêu dùng trực tuyến bây giờ...
                                    </p>
                                </div>
                            </div>
                            <div>
                                <img src="~/images/tin-tuc2/Rectangle 38.jpg" alt="ảnh">
                                <div>
                                    <a href="@Url.Action("IndexChiTietTin","SansiHome")">
                                        <h4>
                                            Hướng dẫn cách đăng ký tài khoản trên Taobao bằng điện thoại
                                        </h4>
                                    </a>
                                    <p>
                                        Không còn cảnh chờ đợi 3, 4 ngày hoặc vài tuần, người tiêu dùng trực tuyến bây giờ...
                                    </p>
                                </div>
                            </div>
                            <div>
                                <img src="~/images/tin-tuc2/Rectangle 38.jpg" alt="ảnh">
                                <div>
                                    <a href="@Url.Action("IndexChiTietTin","SansiHome")">
                                        <h4>
                                            Hướng dẫn cách đăng ký tài khoản trên Taobao bằng điện thoại
                                        </h4>
                                    </a>
                                    <p>
                                        Không còn cảnh chờ đợi 3, 4 ngày hoặc vài tuần, người tiêu dùng trực tuyến bây giờ...
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="tin-van-chuyen">
                <div class="title">
                    <div>TIN TỨC VẬN CHUYỂN</div>
                    <a href="@Url.Action("IndexChiTietTin","SansiHome")">
                        XEM TẤT CẢ
                    </a>
                </div>
                <div class="content-van-chuyen">
                    <div>
                        <img src="~/images/tin-tuc2/01.jpg" alt="ảnh">
                        <div>
                            <a href="@Url.Action("IndexChiTietTin","SansiHome")">
                                <h4>
                                    Hướng dẫn cách đăng ký tài khoản trên Taobao bằng điện thoại
                                </h4>
                            </a>
                            <p>
                                Không còn cảnh chờ đợi 3, 4 ngày hoặc vài tuần, người tiêu dùng trực tuyến bây giờ...Không còn cảnh chờ đợi 3, 4 ngày hoặc vài tuần, người tiêu dùng trực tuyến bây giờ... Không còn cảnh chờ đợi 3, 4 ngày hoặc vài tuần, người tiêu dùng trực tuyến bây giờ... Không còn cảnh chờ đợi 3, 4 ngày hoặc vài tuần, người tiêu dùng trực tuyến bây giờ...
                            </p>
                        </div>
                    </div>
                    <div>
                        <img src="~/images/tin-tuc2/01.jpg" alt="ảnh">
                        <div>
                            <a href="@Url.Action("IndexChiTietTin","SansiHome")">
                                <h4>
                                    Hướng dẫn cách đăng ký tài khoản trên Taobao bằng điện thoại
                                </h4>
                            </a>
                            <p>
                                Không còn cảnh chờ đợi 3, 4 ngày hoặc vài tuần, người tiêu dùng trực tuyến bây giờ...Không còn cảnh chờ đợi 3, 4 ngày hoặc vài tuần, người tiêu dùng trực tuyến bây giờ... Không còn cảnh chờ đợi 3, 4 ngày hoặc vài tuần, người tiêu dùng trực tuyến bây giờ... Không còn cảnh chờ đợi 3, 4 ngày hoặc vài tuần, người tiêu dùng trực tuyến bây giờ...
                            </p>
                        </div>
                    </div>
                    <div>
                        <img src="~/images/tin-tuc2/01.jpg" alt="ảnh">
                        <div>
                            <a href="@Url.Action("IndexChiTietTin","SansiHome")">
                                <h4>
                                    Hướng dẫn cách đăng ký tài khoản trên Taobao bằng điện thoại
                                </h4>
                            </a>
                            <p>
                                Không còn cảnh chờ đợi 3, 4 ngày hoặc vài tuần, người tiêu dùng trực tuyến bây giờ...Không còn cảnh chờ đợi 3, 4 ngày hoặc vài tuần, người tiêu dùng trực tuyến bây giờ... Không còn cảnh chờ đợi 3, 4 ngày hoặc vài tuần, người tiêu dùng trực tuyến bây giờ... Không còn cảnh chờ đợi 3, 4 ngày hoặc vài tuần, người tiêu dùng trực tuyến bây giờ...
                            </p>
                        </div>
                    </div>
                    <div>
                        <img src="~/images/tin-tuc2/01.jpg" alt="ảnh">
                        <div>
                            <a href="@Url.Action("IndexChiTietTin","SansiHome")">
                                <h4>
                                    Hướng dẫn cách đăng ký tài khoản trên Taobao bằng điện thoại
                                </h4>
                            </a>
                            <p>
                                Không còn cảnh chờ đợi 3, 4 ngày hoặc vài tuần, người tiêu dùng trực tuyến bây giờ...Không còn cảnh chờ đợi 3, 4 ngày hoặc vài tuần, người tiêu dùng trực tuyến bây giờ... Không còn cảnh chờ đợi 3, 4 ngày hoặc vài tuần, người tiêu dùng trực tuyến bây giờ... Không còn cảnh chờ đợi 3, 4 ngày hoặc vài tuần, người tiêu dùng trực tuyến bây giờ...
                            </p>
                        </div>
                    </div>
                    <div>
                        <img src="~/images/tin-tuc2/01.jpg" alt="ảnh">
                        <div>
                            <a href="@Url.Action("IndexChiTietTin","SansiHome")">
                                <h4>
                                    Hướng dẫn cách đăng ký tài khoản trên Taobao bằng điện thoại
                                </h4>
                            </a>
                            <p>
                                Không còn cảnh chờ đợi 3, 4 ngày hoặc vài tuần, người tiêu dùng trực tuyến bây giờ...Không còn cảnh chờ đợi 3, 4 ngày hoặc vài tuần, người tiêu dùng trực tuyến bây giờ... Không còn cảnh chờ đợi 3, 4 ngày hoặc vài tuần, người tiêu dùng trực tuyến bây giờ... Không còn cảnh chờ đợi 3, 4 ngày hoặc vài tuần, người tiêu dùng trực tuyến bây giờ...
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="right">
            <div class="xem-nhieu">
                <div class="title">
                    <div>XEM NHIỀU NHẤT</div>
                </div>
                <div class="content">
                    <div>
                        <div>
                            <img src="~/images/tin-tuc2/01.jpg" alt="ảnh">
                            <a href="@Url.Action("IndexChiTietTin","SansiHome")">
                                <h5>
                                    Hướng dẫn cách đăng ký tài khoản trên Taobao bằng điện thoại
                                </h5>
                            </a>
                        </div>
                        <div>
                            <img src="~/images/tin-tuc2/01.jpg" alt="ảnh">
                            <a href="@Url.Action("IndexChiTietTin","SansiHome")">
                                <h5>
                                    Hướng dẫn cách đăng ký tài khoản trên Taobao bằng điện thoại
                                </h5>
                            </a>
                        </div>
                        <div>
                            <img src="~/images/tin-tuc2/01.jpg" alt="ảnh">
                            <a href="@Url.Action("IndexChiTietTin","SansiHome")">
                                <h5>
                                    Hướng dẫn cách đăng ký tài khoản trên Taobao bằng điện thoại
                                </h5>
                            </a>
                        </div>
                    </div>
                    <div>
                        <div>
                            <img src="~/images/tin-tuc2/01.jpg" alt="ảnh">
                            <a href="@Url.Action("IndexChiTietTin","SansiHome")">
                                <h5>
                                    Hướng dẫn cách đăng ký tài khoản trên Taobao bằng điện thoại
                                </h5>
                            </a>
                        </div>
                        <div>
                            <img src="~/images/tin-tuc2/01.jpg" alt="ảnh">
                            <a href="@Url.Action("IndexChiTietTin","SansiHome")">
                                <h5>
                                    Hướng dẫn cách đăng ký tài khoản trên Taobao bằng điện thoại
                                </h5>
                            </a>
                        </div>
                        <div>
                            <img src="~/images/tin-tuc2/01.jpg" alt="ảnh">
                            <a href="@Url.Action("IndexChiTietTin","SansiHome")">
                                <h5>
                                    Hướng dẫn cách đăng ký tài khoản trên Taobao bằng điện thoại
                                </h5>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="btm">
                <img src="~/images/tin-tuc2/Rectangle 42.jpg" alt="ảnh">
                <div>
                    <p>
                        Hướng dẫn cách đăng ký tài khoản trên Taobao bằng điện thoại
                    </p>
                    <a href="@Url.Action("IndexChiTietTin","SansiHome")">
                        <button type="button">Tìm hiểu thêm</button>
                    </a>
                </div>
            </div>
            <div class="tin-moi">
                <div class="title">
                    <div>BÀI VIẾT MỚI NHẤT</div>
                </div>
                <div class="content">
                    <div>
                        <img src="~/images/tin-tuc2/01.jpg" alt="ảnh">
                        <a href="@Url.Action("IndexChiTietTin","SansiHome")">
                            <h5>
                                Hướng dẫn cách đăng ký tài khoản trên Taobao bằng điện thoại
                            </h5>
                        </a>
                        <p>
                            Không còn cảnh chờ đợi 3, 4 ngày hoặc vài tuần, người tiêu dùng trực tuyến bây giờ...
                        </p>
                    </div>
                    <div>
                        <div>
                            <img src="~/images/tin-tuc2/01.jpg" alt="ảnh">
                            <div>
                                <a href="@Url.Action("IndexChiTietTin","SansiHome")">
                                    <h5>
                                        Hướng dẫn cách đăng ký tài khoản trên Taobao bằng điện thoại
                                    </h5>
                                </a>
                                <p>
                                    Không còn cảnh chờ đợi 3, 4 ngày hoặc vài tuần, người tiêu dùng trực tuyến bây giờ...
                                </p>
                            </div>

                        </div>
                        <div>
                            <img src="~/images/tin-tuc2/01.jpg" alt="ảnh">
                            <div>
                                <a href="@Url.Action("IndexChiTietTin","SansiHome")">
                                    <h5>
                                        Hướng dẫn cách đăng ký tài khoản trên Taobao bằng điện thoại
                                    </h5>
                                </a>
                                <p>
                                    Không còn cảnh chờ đợi 3, 4 ngày hoặc vài tuần, người tiêu dùng trực tuyến bây giờ...
                                </p>
                            </div>

                        </div>
                        <div>
                            <img src="~/images/tin-tuc2/01.jpg" alt="ảnh">
                            <div>
                                <a href="@Url.Action("IndexChiTietTin","SansiHome")">
                                    <h5>
                                        Hướng dẫn cách đăng ký tài khoản trên Taobao bằng điện thoại
                                    </h5>
                                </a>
                                <p>
                                    Không còn cảnh chờ đợi 3, 4 ngày hoặc vài tuần, người tiêu dùng trực tuyến bây giờ...
                                </p>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>
