@using AdminLTE.Models.SansiModels;
@model DanhMucSanPhamModel;

@{
    Layout = "_LayoutSansi";
    ViewBag.Title = "Danh mục sản phẩm";
    ViewBag.Type = 1;
    ViewBag.Active = "DichVu";

}

@if (Model == null)
{
    <div>Khong co du lieu</div>
}
else
{

    <div class="thong-tin-them">
        <div class="sub-thong-tin">
            <ul>
                <li>Trang chủ</li>
                <li><i class="next"></i></li>
                <li>Danh mục sản phẩm</li>
            </ul>
        </div>
    </div>
    <div class="comtainer-danh-muc-sp">
        <div class="container">
            <div class="nav">
                <div>
                    <ul>
                        <li>
                            <a href="#">FASHION</a>
                        </li>
                        <li class="active">
                            <a href="#">Best Seller</a>
                        </li>
                        <li>
                            <a href="#">Thời trang nữ</a>
                        </li>
                        <li>
                            <a href="#">Thời trang trẻ con</a>
                        </li>
                        <li>
                            <a href="#">Phụ kiện</a>
                        </li>
                    </ul>
                </div>
                <div>
                    <img src="~/images/Danh-muc-sp/01_Home-1-4.jpg" alt="" />
                    <img class="is-desktop"
                         src="~/images/Danh-muc-sp/02_Home-1-1.jpg"
                         alt="" />
                </div>
            </div>
            <div class="content">
                @{

                    foreach (var item in Model.ThoiTrang)
                    {
                        if (item.Id == 1)
                        {
                            <div class="is-desktop">
                                <img src="@item.UrlImage" alt="" />
                            </div>
                        }
                        else
                        {
                            <div class="@(item.Id > 4 ? "is-desktop" : "")">
                                <img src="@item.UrlImage" alt="" />
                                <div>
                                    <p>@item.TenSanPham</p>
                                    <span>$@item.GiaSanPham</span>
                                </div>
                            </div>
                        }

                    }
                }
            </div>
        </div>
        <div class="container">
            <div class="nav">
                <div>
                    <ul>
                        <li>
                            <a href="#">SPORT</a>
                        </li>
                        <li class="active">
                            <a href="#">Best Seller</a>
                        </li>
                        <li>
                            <a href="#">Tenis</a>
                        </li>
                        <li>
                            <a href="#">Bơi lội</a>
                        </li>
                        <li>
                            <a href="#">Câu cá</a>
                        </li>
                    </ul>
                </div>
                <div>
                    <img src="~/images/Danh-muc-sp/01_Home-1-4.jpg" alt="" />
                    <img class="is-desktop"
                         src="~/images/Danh-muc-sp/02_Home-1-1.jpg"
                         alt="" />
                </div>
            </div>
            <div class="content">

                @{

                    foreach (var item in Model.TheThao)
                    {
                        if (item.Id == 1)
                        {
                            <div class="is-desktop">
                                <img src="@item.UrlImage" alt="" />
                            </div>
                        }
                        else
                        {
                            <div class="@(item.Id > 4 ? "is-desktop" : "")">
                                <img src="@item.UrlImage" alt="" />
                                <div>
                                    <p>@item.TenSanPham</p>
                                    <span>$@item.GiaSanPham</span>
                                </div>
                            </div>
                        }

                    }
                }
            </div>
        </div>
        <div class="container">
            <div class="nav">
                <div>
                    <ul>
                        <li>
                            <a href="#">ELECTRONG</a>
                        </li>
                        <li class="active">
                            <a href="#">Best Seller</a>
                        </li>
                        <li>
                            <a href="#">Telavison</a>
                        </li>
                        <li>
                            <a href="#">Light & lamp</a>
                        </li>
                        <li>
                            <a href="#">Home audio</a>
                        </li>
                    </ul>
                </div>
                <div>
                    <img src="~/images/Danh-muc-sp/01_Home-1-4.jpg" alt="" />
                    <img class="is-desktop"
                         src="~/images/Danh-muc-sp/02_Home-1-1.jpg"
                         alt="" />
                </div>
            </div>
            <div class="content">
                @{

                    foreach (var item in Model.DoGiaDung)
                    {
                        if (item.Id == 1)
                        {
                            <div class="is-desktop">
                                <img src="@item.UrlImage" alt="" />
                            </div>
                        }
                        else
                        {
                            <div class="@(item.Id > 4 ? "is-desktop" : "")">
                                <img src="@item.UrlImage" alt="" />
                                <div>
                                    <p>@item.TenSanPham</p>
                                    <span>$@item.GiaSanPham</span>
                                </div>
                            </div>
                        }

                    }
                }
            </div>
        </div>
    </div>
}

